nav {
  background-color: grey;
  padding-right: 10px;
}

body {
  width: 90%;
  font-family: "Arial", sans-serif;
}

div {
  text-align: left;
}

a {
  color: white;
}

.titles {
  font-weight: bold;
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: [first] 25% [second] 25% [third] 25% [fourth] 25% [fifth];
  grid-template-rows: [headerone] 25px [headertwo] 20px [one] 25% [two] 25% [three] 25% [four] 80px [five];
}

.header1 {
  grid-column: first / fourth;
  grid-row: headerone / headertwo;
  background-color: red;
  font-weight: bold;
  color: white;
}

.header2 {
  text-align: right;
  grid-column: fourth / fifth;
  grid-row: headerone / headertwo;
  background-color: red;
  color: white;
}

.header3 {
  grid-column: first / fifth;
  grid-row: headertwo / one;
  background-color: grey;
  text-align: right;
  color: white;
}

.item1 {
  margin: 30px;
  grid-column: first / fourth;
  grid-row: one / four;
  border: 1px solid red;
  overflow: auto;
}

.item2 {
  margin-top: 20px;
  grid-column: fourth / fifth;
  grid-row: one / two;
  border: 1px solid red;
}

.item3 {
  margin-top: 20px;
  grid-column: fourth / fifth;
  grid-row: two / three;
  border: 1px solid red;
}

.item4 {
  margin-top: 20px;
  grid-column: fourth / fifth;
  grid-row: three / four;
  border: 1px solid red;
}

.footer {
  margin-top: 20px;
  background-color: grey;
  grid-column: first / fifth;
  grid-row: four / five;
}

div>p, div>h3, div>h4 {
  padding: 10px;
}

img {
  width: 75%;
  height: 75%;
}
